# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDEs
.idea/
.vscode/
*.iml

# Sistema operacional
*.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Outras pastas comuns
out/
bin/
